/*
 * Zellij theme based on GitHub Light Default from
 *   https://github.com/cdalvaro/github-vscode-theme-iterm
 * 
 * See references/light-default.jsonc in the repo.
 *
 *      "editor.selectionBackground": "#add6ff",
 *      "panel.background": "#f6f8fa",
 *      "terminal.ansiBlack": "#24292f",
 *      "terminal.ansiBlue": "#0969da",
 *      "terminal.ansiBrightBlack": "#57606a",
 *      "terminal.ansiBrightBlue": "#218bff",
 *      "terminal.ansiBrightCyan": "#3192aa",
 *      "terminal.ansiBrightGreen": "#1a7f37",
 *      "terminal.ansiBrightMagenta": "#a475f9",
 *      "terminal.ansiBrightRed": "#a40e26",
 *      "terminal.ansiBrightWhite": "#8c959f",
 *      "terminal.ansiBrightYellow": "#633c01",
 *      "terminal.ansiCyan": "#1b7c83",
 *      "terminal.ansiGreen": "#116329",
 *      "terminal.ansiMagenta": "#8250df",
 *      "terminal.ansiRed": "#cf222e",
 *      "terminal.ansiWhite": "#6e7781",
 *      "terminal.ansiYellow": "#4d2d00",
 *      "terminal.foreground": "#1f2328",
 *      // "terminal.selectionBackground": "#add6ff",
 *      // "terminalCursor.background": null,
 *      // "terminalCursor.foreground": null,
 *      "textLink.foreground": "#0969da"
 */

themes {
    github-vscode-light-default {
        fg "#0969da"        // "textLink.foreground": "#0969da"
        bg "#f6f8fa"        // "panel.background": "#f6f8fa",
        black "#24292f"
        red "#cf222e"
        green "#116329"
        yellow "#4d2d00"
        blue "#0969da"
        magenta "#8250df"
        cyan "#1b7c83"
        white "#6e7781"
        orange "#a40e26"    // "terminal.ansiBrightRed": "#a40e26",
    }
}
